@charset "UTF-8";

/* Regular */
@font-face {
  font-family: "MS PGothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "ms pgothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "MS Pゴシック";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "ms pゴシック";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "MS Gothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "ms gothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "MS ゴシック";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "ms ゴシック";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "ＭＳ ゴシック";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "MS UI Gothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: 'メイリオ';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: 'Meiryo';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: 'YuGothic';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Yu Gothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: '游ゴシック';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "YuGothic Medium";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Yu Gothic Medium";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "游ゴシック Medium";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Yu Gothic UI";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Meiryo UI";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: 'Arial';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: 'ArialMT';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Malgun Gothic";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Arial Unicode MS";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('BIZ UDPGothic');
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('San Francisco'),
        local('-apple-system'),
        local('BlinkMacSystemFont');
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('San Francisco'),
        local('-apple-system'),
        local('BlinkMacSystemFont');
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('San Francisco'),
        local('-apple-system'),
        local('BlinkMacSystemFont');
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('San Francisco'),
        local('-apple-system'),
        local('BlinkMacSystemFont');
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Sans";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('San Francisco'),
        local('-apple-system'),
        local('BlinkMacSystemFont');
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Sans Pro";
  src:  local('Noto Sans JP'),
        local('Noto Sans CJK Variable'),
        local('Noto Sans CJK JP'),
        url('chrome-extension://__MSG_@@extension_id__/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        local('San Francisco'),
        local('-apple-system'),
        local('BlinkMacSystemFont');
  font-display: swap;
}
