@charset "UTF-8";

/* Bold */
@font-face {
  font-family: "MS PGothic";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ms pgothic";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MS Pゴシック";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ms pゴシック";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MS UI Gothic";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "メイリオ";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Meiryo";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "YuGothic";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Yu Gothic";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "游ゴシック";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "YuGothic Medium";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Yu Gothic Medium";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "游ゴシック Medium";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Yu Gothic UI";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Meiryo UI";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ArialMT";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "RobotoDraft";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Malgun Gothic";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Arial Unicode MS";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Sans";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Sans Pro";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "system-ui";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "-apple-system";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "BlinkMacSystemFont";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI Variable";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI Variable Display";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI Variable Text";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather Sans";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans CJK JP";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MS Mincho";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ms mincho";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MS PMincho";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ＭＳ 明朝";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ＭＳ Ｐ明朝";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "YuMincho";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Yu Mincho";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "游明朝";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "游明朝体";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "HiraMinProN-W3";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Mincho ProN";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ明朝 ProN";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Times New Roman";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Times";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "serif";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W1";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W1";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W1";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W1";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W2";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W2";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W2";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W2";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W3";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W3";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W3";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W3";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W4";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W4";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W4";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W4";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W5";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W5";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W5";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W5";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W6";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W6";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W6";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W6";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W7";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W7";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W7";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W7";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W8";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W8";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W8";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W8";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic ProN W9";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W9";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ ProN W9";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ヒラギノ角ゴ Pro W9";
  src:  local("Noto Sans JP"),
        local("Noto Sans CJK Variable"),
        local("Noto Sans CJK JP"),
        url('../fonts/NotoSansJP-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MS Gothic";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ms gothic";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MS ゴシック";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ms ゴシック";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "ＭＳ ゴシック";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Consolas";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Monaco";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Courier New";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Courier";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Menlo";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu Mono";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "source-code-pro";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Cascadia Code";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Cascadia Mono";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "FK Grotesk Neue";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "FK Grotesk Neue Thin";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "monospace";
  src:  local("UDEV Gothic JPDOC Bold"),
        url('../fonts/UDEVGothicJPDOC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
